[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
[receive]
	denyCurrentBranch = ignore
[diff]
	tool = diffmerge
	guitool = bc4
[difftool]
	prompt = false
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[difftool "bc4"]
	cmd = \"/cygdrive/c/Program Files/Beyond Compare 4/BCompare.exe\" \"$(cygpath -w $LOCAL)\" \"$(cygpath -w $REMOTE)\"
	#path = \"/cygdrive/c/Program Files/Beyond Compare 4/BCompare.exe\"
	#cmd = echo $LOCAL $REMOTE $(ls -l $LOCAL $REMOTE)
	################################################################################
	###### for window OS + cygwin, should use
	######       "git difftool -g" or "git difftool --tool=gc4"
	################################################################################

[merge]
	tool = diffmerge
	guitool = bc4
[mergetool]
	prompt = true
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=\"$MERGED\"  \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[mergetool "bc4"]
        cmd = \"/cygdrive/c/Program Files/Beyond Compare 4/BCompare.exe\" \"$(cygpath -w $LOCAL)\" \"\"$(cygpath -w $REMOTE)\" \"$(cygpath -w $BASE)\" \"$(cygpath -w $MERGED)\"
[user]
	email = happyblreay@hotmail.com
	name = blreay
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = simple
